<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form #form="ngForm" (ngSubmit)="updateTodo()" class="form-container">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" id="title" [(ngModel)]="newTodo.title">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control description" name="description" id="description" [(ngModel)]="newTodo.description" style="height: 150px;"></textarea>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="completed" name="completed" (change)="toggleTodoCompletion(newTodo, newTodo.isCompleted)" [checked]="getCheckboxValue(newTodo.isCompleted)" >
          <label class="form-check-label" for="completed">Completed</label>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
