<div class="container">


  

  <form #form="ngForm" (ngSubmit)="addTodo()" class="form-container">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" name="title" id="title" [(ngModel)]="newTodo.title">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input type="text" class="form-control" name="description" id="description" [(ngModel)]="newTodo.description">
    </div>
    <button type="submit" class="btn btn-success">Add</button>
  </form>


  <ng-container *ngIf="showSuccessMessage">
    <br>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      List added successfully.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </ng-container>

  <ng-container *ngIf="showDeleteMessage">
    <br>
    <div class="alert alert-danger alert-dismissible fade show d-flex justify-content-between align-items-center" role="alert">
      <div>Todo Item Deleted!</div>
      <button type="button" class="btn btn-undo" data-bs-dismiss="alert" aria-label="Close" (click)="undoTodoFunc()">Undo</button>
    </div>
  </ng-container>

  <ng-container *ngIf="showTitleEmptyMessage">
    <br>
    <div class="alert alert-warning" role="alert">
      Title cannot be empty
    </div>
  </ng-container>

  <br>

  <table class="table">
    <tr>
      <td class="align-left">
        <div class="mb-3">
          <ul class="list-inline">
            <!-- <li *ngIf="mainlabelarray.length === 0" (click)="onLabelSelected(label)" class="list-inline-item label-item">
              <div class="label-content">No Labels</div>
            </li> -->
            <li *ngFor="let label of mainlabelarray" (click)="onLabelSelected(label)"
              class="list-inline-item label-item border_color">
              <mat-chip-listbox aria-label="Fish selection">
                <ng-container *ngIf="showlabelarray.includes(label)">
                  <mat-chip-option selected>{{label}}</mat-chip-option>

                </ng-container>
                <ng-container *ngIf="!showlabelarray.includes(label)">
                  <mat-chip-option>{{label}}</mat-chip-option>
                </ng-container>
              </mat-chip-listbox>
            </li>
          </ul>
        </div>
      </td>


      <td class="align-middle text-center">


        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search By Title" [(ngModel)]="searchTerm"
            (ngModelChange)="onSearch()">
          <div class="input-group-append">
            <!-- <button class="btn btn-outline-secondary" type="button">Search</button> -->
          </div>
        </div>

      </td>
      <!--
      <td class="align-middle text-center">
        <mat-form-field>
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="dueDateSearch" (ngModel)="onDueDateSearch()">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </td> -->


      <!-- <td>

        <button mat-stroked-button (click)="openSnackBar('Todo Deleted', 'undo')" aria-label="Show an example snack-bar">
          Pizza party
        </button>
      </td> -->

      <td class="align-middle text-end">
        <!-- matcard -->





        <ng-container *ngIf="showCompleteValue">
          <mat-slide-toggle class="example-margin" color="warm" [checked]="!showCompleteValue"
            (change)="getShowCompleteStatus(true)">
            Show Complete
          </mat-slide-toggle>
        </ng-container>
        <ng-container *ngIf="!showCompleteValue">
          <mat-slide-toggle class="example-margin" color="warm" [checked]="!showCompleteValue"
            (change)="getShowCompleteStatus(false)">
            Show Complete
          </mat-slide-toggle>
        </ng-container>

      </td>
    </tr>
  </table>




  <h1 class="text-center mt-4">My Todos</h1>


  <table mat-table [dataSource]="todolabels" class="mat-elevation-z8 rounded-table">

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Status </th>
      <td mat-cell *matCellDef="let todolabel">

        <mat-slide-toggle class="example-margin" color="warm" [checked]="getCheckboxValue(todolabel.todo.isCompleted)"
          (change)="toggleTodoCompletion(todolabel.todo, todolabel.todo.isCompleted)">

        </mat-slide-toggle>
      </td>

    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Title </th>
      <td mat-cell *matCellDef="let todolabel"> {{todolabel.todo.title}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let todolabel"> {{todolabel.todo.description}} </td>
    </ng-container>

    <ng-container matColumnDef="completedTime">
      <th mat-header-cell *matHeaderCellDef> Completed Time </th>
      <td mat-cell *matCellDef="let todolabel"> {{todolabel.todo.completedTime}} </td>
    </ng-container>

    <ng-container matColumnDef="labels">
      <th mat-header-cell *matHeaderCellDef> Labels </th>
      <td mat-cell *matCellDef="let todolabel">
        <div class="mb-3">
          <ul class="list-inline">
            <li *ngIf="todolabel.labels.mylabelsarray.length === 0" class="list-inline-item label-item">
              <div class="label-content">No Labels</div>
            </li>
            <li *ngFor="let label of todolabel.labels.mylabelsarray" class="list-inline-item label-item">
              <div class="label-content">{{ label }}</div>
            </li>
          </ul>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let todolabel">
        <div class="d-flex">
          <button type="button" class="btn btn-primary me-1" [routerLink]="['/edit', todolabel.todo.id]">Edit</button>
          <button type="button" class="btn btn-danger" (click)="deleteTodo(todolabel.todo.id, todolabel.todo)"
            >Delete</button>
        </div>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      [ngClass]="{ 'expired': getIsCompletedStatus(row.todo.isCompleted) }" class="rounded-table"></tr>


  </table>


</div>
