<form #form="ngForm" (ngSubmit)="addUser()" class="form-container">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" name="title" id="title" [(ngModel)]="usr.username">
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="text" class="form-control" name="description" id="description" [(ngModel)]="usr.password">
    </div>

    <button type="submit" class="btn btn-success">Login</button>
  </form>
